.body-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.body-header__left {
    flex: 0.5;
    min-width: 80px;
    background-color: white;
    color: gray;
    border-radius: 40px;
    padding: 0 7px 0 7px;
    align-items: center;
    display: flex;
}
.body-header__left > input{
    margin-left: 5px;
    border: none !important;
    outline: none !important;
    width: 100%;
}
.body-header__right{
    display: flex;
    background-color: black;
    border-radius: 40px;
    align-items: center;
    padding: 0 7px 0 7px;
}
.body-header__right > h4{
    color: white;
    text-indent: 10px;
    font-weight: 800;
}